---
- name: Start docker patroni container
  community.docker.docker_compose_v2:
    state: present
    project_name: patroni_cluster
    definition:
      services:
        patroni:
          image: "{{ patroni_image }}:{{ patroni_image_version }}"
          shm_size: "{{ patroni_shm_size }}"
          container_name: "{{ patroni_container_name }}"
          user: postgres
          ports: "{{ patroni_expose_ports }}"
          environment:
            TZ: "{{ cluster_timezone }}"
            PATRONI_NAME: "{{ patroni_name }}"
            PATRONI_POSTGRESQL_DATA_DIR: /patroni_db/postgresql/data
          restart: always
          labels: "{{ patroni_docker_labels }}"
          volumes:
            - "{{ cluster_database_dir }}:/patroni_db/"
            - "{{ patroni_config_dir }}/patroni.yml:/patroni.yml"
