---
- name: Start docker patroni container
  community.docker.docker_compose_v2:
    state: present
    project_name: patroni_cluster
    definition:
      services: "{{ { item.service_name: {
          'image': item.image_name,
          'shm_size': item.shm_size,
          'container_name': item.service_name,
          'user': item.superuser_username,
          'environment': item.environment,
          'restart': 'always',
          'labels': item.labels,
          'ports': [
            item.patroni_connect_port ~ ':' ~ patroni_listen_port,
            item.postgres_connect_port ~ ':' ~ postgres_listen_port
          ],
          'volumes': [
            item.database_dir ~ ':/patroni_db',
            item.config_dir ~ '/patroni.yml:/patroni.yml'
          ]
        } } }}"
  loop: "{{ patroni_cluster_list }}"
  loop_control:
    label: "{{ item.service_name }}"
