---
- name: Start docker consul container
  community.docker.docker_compose_v2:
    state: present
    project_name: patroni_cluster
    definition:
      services:
        consul:
          image: "{{ consul_image }}:{{ consul_image_version }}"
          container_name: "{{ consul_container_name }}"
          ports: "{{ consul_expose_ports }}"
          environment:
            TZ: "{{ cluster_timezone }}"
          hostname: "{{ consul_host }}"
          restart: always
          labels: "{{ consul_docker_labels }}"
          command: "{{ consul_docker_command }}"
